<!-- saved from url=(0051)https://template.hasthemes.com/clothing/clothing/1. -->
<html><head><meta
      http-equiv="Content-Type"
      content="text/html; charset=windows-1252"
    /><title>404 - File Not Found</title><link
      href="./404 - File Not Found_files/css"
      rel="stylesheet"
      type="text/css"
    /><style>html, body { width: 100%; margin: 0; padding: 0; text-align:
      center; font-family: 'Rubik'; background-repeat: no-repeat;
      background-position: bottom center; background-size: cover; color:#313335;
      height: 100%; background-color: white } h1 {margin-bottom:
      0px;font-weight: bold;font-size: 140px;font-weight: 500;padding-top:
      130px;margin-bottom: -35px;}h2 {font-size: 45px;color: #313335; font-weight:
      200;}</style></head><body><div id="content"><h1
        style="margin-bottom: -35px;"
      >404</h1><h2>File Not Found</h2></div>
  </body></html>