

<header>
        <h1>Productos</h1>
    </header>
    <main>
<div class="container d-flex justify-content-center my-5">
    <div class="row my-2 mx-2 main">
        <!--left-column-->
        <div class="col-md-4 col-12 mycol">
            <!--image-->
            <img src="public/img/rtaImage.jpeg"width="100%" height="100%">
        </div>
        <!--right-column-->
        <div class="col-md-8 col-12 xcol">
            <h2 class="title pt-5 pb-3">Agrega tu producto</h2>
            <form  action="/api/productos" method="post" class="myform" >
                <div class="row rone">
                    <div class="form-group col-md-6 fone py-3">
                        <input type="text" class="form-control" placeholder="Nombre" required name="title" id="title">
                    </div>
                    
                </div>
                <div class="row rtwo">
                    <div class="form-group col-md-6 fthree py-3">
                        <input  class="form-control jk" placeholder="Pricio" pattern="^\d*(\.\d{0,2})?$" required name="price" min="1" id="price">
                    </div>
                    
                </div>
                <div class="row rthree">
                    <div class="form-group col-md-6 ffive py-3">
                        <input type="text" class="form-control" placeholder="URL" required name="thumbnail" id="thumbnail">
                    </div>
                    
                </div>
                <div class="row rfour">
                    <div class="form-group col-md-6 fseven py-3">
                        
                        <div class="form-group col-md-6 fseven py-3">
                        <button type="submit" class="btn btn-primary"><span>Agregar</span></button>
                    </div>
                    </div>
                   
                </div>
            </form>
        </div>
    </div>
</div>




      <div
        class="container-fluid bg-trasparent my-4 p-3"
        style="position: relative"
      >
        <div
          class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-4 g-3"
        >
        {{#each  artuculos}}
        
          <div class="col">
            <div class="card h-100 shadow-sm">
              <img
                src='{{this.url}}'
                class="card-img-top"
                alt='Imagen de {{this.nombre}}'
              />
              <div class="card-body">
                <div class="clearfix mb-3">
                  <span class="float-start badge rounded-pill bg-primary"
                    >{{this.nombre}}</span
                  >
                  <span class="float-end price-hp">$MXN {{this.precio}}</span>
                </div>
                <h5 class="card-title">
                  
                </h5>
                <div class="text-center my-4">
                  <a href="#" class="btn btn-warning">Comprar</a>
                </div>
              </div>
            </div>
          </div>

        {{/each}}


        </div>  
    </div>
    


    </main>